body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #a8a8a8;
    align-items: center;
    flex-wrap: wrap;
}

.right {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
}

.boton {
    margin: 0;
    padding: 0;
}

.left {
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.banner {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}

.titulo {
    font-size: 1.75rem;
    font-weight: bolder;
}

ul {
    list-style: none;
}

@media only screen and (max-width: 576px) {
    .right {
        order: 2;
    }

    .left {
        margin-top: 1rem;
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }

    ul > li {
        display: inline-block;
    }

    ul {
        margin: 0 auto;
        padding: 0;
    }

    .home {
        display: none;
    }
}

